In [3]:
import numpy as np
import pandas as pd
pd.options.display.max_rows = 6
pd.options.display.max_columns = 8

# Examining Data

In [4]:
df = pd.read_hdf('data/beer.hdf','df')
df

,abv,beer_id,brewer_id,beer_name,...,profile_name,review_taste,text,time
0,7.0,2511,287,Bell's Cherry Stout,...,blaheath,4.5,Batch 8144\tPitch black in color with a 1/2 f...,2009-10-05 21:31:48
1,5.7,19736,9790,Duck-Rabbit Porter,...,GJ40,4.0,Sampled from a 12oz bottle in a standard pint...,2009-10-05 21:32:09
2,4.8,11098,3182,Fürstenberg Premium Pilsener,...,biegaman,3.5,Haystack yellow with an energetic group of bu...,2009-10-05 21:32:13
...,...,...,...,...,...,...,...,...,...
49997,8.1,21950,2372,Terrapin Coffee Oatmeal Imperial Stout,...,ugaterrapin,4.5,Poured a light sucking crude oil beckoning bl...,2009-12-25 17:23:52
49998,4.6,5453,1306,Badger Original Ale,...,MrHurmateeowish,3.5,"500ml brown bottle, 4.0% ABV. Pours a crystal...",2009-12-25 17:25:06
49999,9.4,47695,14879,Barrel Aged B.O.R.I.S. Oatmeal Imperial Stout,...,strictly4DK,4.5,"22 oz bottle poured into a flute glass, share...",2009-12-25 17:26:06

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 50000 entries, 0 to 49999
Data columns (total 13 columns):
abv                  48389 non-null float64
beer_id              50000 non-null int64
brewer_id            50000 non-null int64
beer_name            50000 non-null object
beer_style           50000 non-null object
review_appearance    50000 non-null float64
review_aroma         50000 non-null float64
review_overall       50000 non-null float64
review_palate        50000 non-null float64
profile_name         50000 non-null object
review_taste         50000 non-null float64
text                 49991 non-null object
time                 50000 non-null datetime64[ns]
dtypes: datetime64[ns](1), float64(6), int64(2), object(4)
memory usage: 5.3+ MB

## Boolean indexing

Like a where clause in SQL. The indexer (or boolean mask) should be 1-dimensional and the same length as the thing being indexed.

In [6]:
df.abv < 5

0        False
1        False
2         True
         ...
49997    False
49998     True
49999    False
Name: abv, dtype: bool

In [7]:
df[df.abv < 5].head()

    abv  beer_id  brewer_id                     beer_name         ...         profile_name  review_taste                                               text                time
2   4.8    11098       3182  Fürstenberg Premium Pilsener         ...             biegaman           3.5   Haystack yellow with an energetic group of bu... 2009-10-05 21:32:13
7   4.8     1669        256                   Great White         ...               n0rc41           4.5   Ok, for starters great white I believe will b... 2009-10-05 21:34:29
21  4.6      401        118                   Dark Island         ...           abuliarose           4.0   Poured into a snifter, revealing black opaque... 2009-10-05 21:47:36
22  4.9     5044      18968                   Kipona Fest         ...             drcarver           4.0   A - a medium brown body with an off white hea... 2009-10-05 21:47:56
28  4.6      401        118                   Dark Island         ...            sisuspeed           4.0   The color of this beer fits the name well. Op... 2009-10-05 21:53:38

[5 rows x 13 columns]

Notice that we just used `[]` there. We can pass the boolean indexer in to `.loc` as well.

In [8]:
df.loc[df.abv < 5, ['beer_style', 'review_overall']]

                 beer_style  review_overall
2           German Pilsener             3.0
7                   Witbier             4.5
21             Scottish Ale             3.5
...                     ...             ...
49976       Euro Pale Lager             3.0
49980  Herbed / Spiced Beer             4.0
49998      English Pale Ale             4.0

[5399 rows x 2 columns]

Again, you can get complicated

In [9]:
df[((df.abv < 5) & (df.time > pd.Timestamp('2009-06'))) | (df.review_overall >= 4.5)]

,abv,beer_id,brewer_id,beer_name,...,profile_name,review_taste,text,time
0,7.0,2511,287,Bell's Cherry Stout,...,blaheath,4.5,Batch 8144\tPitch black in color with a 1/2 f...,2009-10-05 21:31:48
1,5.7,19736,9790,Duck-Rabbit Porter,...,GJ40,4.0,Sampled from a 12oz bottle in a standard pint...,2009-10-05 21:32:09
2,4.8,11098,3182,Fürstenberg Premium Pilsener,...,biegaman,3.5,Haystack yellow with an energetic group of bu...,2009-10-05 21:32:13
...,...,...,...,...,...,...,...,...,...
49997,8.1,21950,2372,Terrapin Coffee Oatmeal Imperial Stout,...,ugaterrapin,4.5,Poured a light sucking crude oil beckoning bl...,2009-12-25 17:23:52
49998,4.6,5453,1306,Badger Original Ale,...,MrHurmateeowish,3.5,"500ml brown bottle, 4.0% ABV. Pours a crystal...",2009-12-25 17:25:06
49999,9.4,47695,14879,Barrel Aged B.O.R.I.S. Oatmeal Imperial Stout,...,strictly4DK,4.5,"22 oz bottle poured into a flute glass, share...",2009-12-25 17:26:06

### Creating a boolean indexer with the contents of a column

Select just the rows where the `beer_style` contains IPA.

In [10]:
df[df.beer_style.str.contains('IPA')]

       abv  beer_id  brewer_id                                beer_name         ...          profile_name  review_taste                                               text                time
3      9.5    28577       3818      Unearthly (Imperial India Pale Ale)         ...                nick76           4.0   The aroma has pine, wood, citrus, caramel, an... 2009-10-05 21:32:37
8      6.7     6549        140  Northern Hemisphere Harvest Wet Hop Ale         ...               david18           4.0   I like all of Sierra Nevada's beers but felt ... 2009-10-05 21:34:31
16     8.0    36179       3818          Hoppe (Imperial Extra Pale Ale)         ...                nick76           3.0   The aroma is papery with citrus, yeast, and s... 2009-10-05 21:43:23
...    ...      ...        ...                                      ...         ...                   ...           ...                                                ...                 ...
49947  7.0      709        199                              Big Eye IPA         ...          billshmeinke           4.0   12oz into my pint glass.\t\tA: Golden honey a... 2009-12-25 08:48:11
49984  6.0    38388       3718                          L'IPA Du Lièvre         ...                hlance           4.5   I love this beer, seek it out when I am in Mo... 2009-12-25 16:25:45
49996  8.0     7971        863                          Pliny The Elder         ...                hrking           4.0   This is a big hoppy monster of an IPA..If you... 2009-12-25 17:23:24

[7774 rows x 13 columns]

This is quite powerful. Any method that returns a boolean array is potentially an indexer.

# isin

Useful for seeing if a value is contained in a collection.

In [11]:
beer_ids = df.beer_id.value_counts()
beer_ids

1904     240
53863    208
52441    158
        ...
41285      1
47430      1
53274      1
Name: beer_id, dtype: int64

In [12]:
df[df.beer_id.isin(beer_ids[0:3].index)]

       abv  beer_id  brewer_id                                    beer_name         ...          profile_name  review_taste                                               text                time
142    8.6    52441        147             Stone 09.09.09 Vertical Epic Ale         ...                aubuc1           4.5   Poured in to a chimay goblet.\t\tPours black ... 2009-10-06 00:10:46
446    8.6    52441        147             Stone 09.09.09 Vertical Epic Ale         ...              corby112           3.5   Pours pitch black and completely opaque witho... 2009-10-06 07:59:01
714    8.6    52441        147             Stone 09.09.09 Vertical Epic Ale         ...          alcstradamus           3.5   Near black pour with a mountainous 3 finger h... 2009-10-06 21:31:06
...    ...      ...        ...                                          ...         ...                   ...           ...                                                ...                 ...
49715  6.8     1904        140                Sierra Nevada Celebration Ale         ...           betterbgood           2.5   I've tried this beer on tap about a year ago,... 2009-12-25 01:13:38
49844  8.6    52441        147             Stone 09.09.09 Vertical Epic Ale         ...            russpowell           4.0   thanks to colonelforbin for this one!\t\tPour... 2009-12-25 04:10:49
49863  5.5    53863         28  Our Special Ale 2009 (Anchor Christmas Ale)         ...           FickleBeast           4.0   12 oz bottle poured into a pint glass \t\tPou... 2009-12-25 04:38:07

[606 rows x 13 columns]

# Hierarchical Indexing

One of the most powerful and most complicated features of pandas.
Let's you represent high-dimensional datasets in a table.

In [13]:
reviews = df.set_index(['profile_name', 'beer_id', 'time'])
reviews.head()

,,,abv,brewer_id,beer_name,beer_style,...,review_overall,review_palate,review_taste,text
profile_name,beer_id,time,,,,,,,,,
blaheath,2511,2009-10-05 21:31:48,7.0,287,Bell's Cherry Stout,American Stout,...,4.5,4.0,4.5,Batch 8144\tPitch black in color with a 1/2 f...
GJ40,19736,2009-10-05 21:32:09,5.7,9790,Duck-Rabbit Porter,American Porter,...,4.5,4.0,4.0,Sampled from a 12oz bottle in a standard pint...
biegaman,11098,2009-10-05 21:32:13,4.8,3182,Fürstenberg Premium Pilsener,German Pilsener,...,3.0,3.0,3.5,Haystack yellow with an energetic group of bu...
nick76,28577,2009-10-05 21:32:37,9.5,3818,Unearthly (Imperial India Pale Ale),American Double / Imperial IPA,...,4.0,4.0,4.0,"The aroma has pine, wood, citrus, caramel, an..."
champ103,398,2009-10-05 21:33:14,5.8,119,Wolaver's Pale Ale,American Pale Ale (APA),...,4.0,3.5,3.0,A: Pours a slightly hazy golden/orange color....

You'll almost always want to sort your MultiIndex.

In [14]:
reviews = reviews.sort_index()
reviews.head()

                                          abv  brewer_id                      beer_name              beer_style                        ...                          review_overall  review_palate  \
profile_name beer_id time                                                                                                              ...
01121987     29077   2009-11-30 03:44:42  9.0      11256                 Corne De Brume  Scotch Ale / Wee Heavy                        ...                                       5              4
05Harley     1307    2009-10-06 00:10:06  8.5        428                Der Weisse Bock              Weizenbock                        ...                                       4              4
             2732    2009-12-12 01:21:36  8.0        287  Bell's Consecrator Doppelbock              Doppelbock                        ...                                       4              4
             2899    2009-10-20 22:27:01  7.1        911    Andechser Doppelbock Dunkel              Doppelbock                        ...                                       5              4
             3054    2009-11-21 02:17:41  5.0        946               Piton Lager Beer  American Adjunct Lager                        ...                                       3              2

                                          review_taste                                               text
profile_name beer_id time
01121987     29077   2009-11-30 03:44:42           3.5   Poured into a belgian beer glass, not great h...
05Harley     1307    2009-10-06 00:10:06           4.0   Can't find the date on this one.\t\tPurchased...
             2732    2009-12-12 01:21:36           4.5   Bottle # 8881 (02/09)\t\tPurchased through We...
             2899    2009-10-20 22:27:01           5.0   Bottle # 300310\t\tPurchased through Kracked ...
             3054    2009-11-21 02:17:41           3.0   Bottled in 2007.\t\tPurchased in St. Lucia @ ...

[5 rows x 10 columns]

Internally, a MultiIndex is a collection of pairs of `levels` and `labels`, one pair for each level of the MultiIndex.

In [15]:
reviews.index.levels[0]

Index([     u'01121987',      u'05Harley',          u'0tt0',     u'100floods',    u'108Dragons', u'110toyourleft',      u'1759Girl',      u'1fastz28',      u'2Stout4u',       u'2ksport',
       ...
               u'zeapo',       u'zebulon',        u'zeff80',       u'zenbeer',      u'zeomally',       u'zimm421',        u'zms101',       u'zoso493',      u'zplug123',      u'zzajjber'],
      dtype='object', name=u'profile_name', length=4124)

In [16]:
reviews.index.labels[0]

FrozenNDArray([0, 1, 1, 1, 1, 1, 1, 2, 2, 3, 4, 5, 5, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 7, 7, 7, 7, 7, 7, 7, 8, 8, 9, 10, 10, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 12, 13, 14, 14, 14, 15, 16, 17, 17, 18, 18, 18, 18, 19, 20, 20, 21, 22, 22, 22, 22, 22, 22, 22, 22, 22, 22, 22, 22, 22, 22, 22, 22, 22, 22, ...], dtype='int16')

### get_level_values

In [17]:
top_reviewers = (reviews.index.get_level_values('profile_name')
                 .value_counts()
                 .head(5).index)
top_reviewers

Index([u'drabmuh', u'corby112', u'BeerFMAndy', u'northyorksammy', u'mrmanning'], dtype='object')

In [18]:
reviews.loc[top_reviewers, :, :].head()

                                          abv  brewer_id                             beer_name           beer_style                        ...                          review_overall  review_palate  \
profile_name beer_id time                                                                                                                  ...
BeerFMAndy   92      2009-12-24 21:51:46  7.2        147                  Arrogant Bastard Ale  American Strong Ale                        ...                                     4.5            4.0
             100     2009-10-22 03:39:21  5.7        306    Blue Moon Harvest Moon Pumpkin Ale          Pumpkin Ale                        ...                                     2.0            2.5
             101     2009-12-06 00:44:10  5.5         35             Samuel Adams Winter Lager                 Bock                        ...                                     3.5            4.0
             129     2009-11-22 16:45:58  6.9         37                    Orval Trappist Ale     Belgian Pale Ale                        ...                                     4.5            4.0
             226     2009-10-21 01:30:40  5.8         73  Great Lakes Edmund Fitzgerald Porter      American Porter                        ...                                     4.5            4.0

                                          review_taste                                               text
profile_name beer_id time
BeerFMAndy   92      2009-12-24 21:51:46           4.0   22 oz bottle poured into a Sierra Nevada Impe...
             100     2009-10-22 03:39:21           2.0   12 oz bottle poured into an Imperial Pint. Ma...
             101     2009-12-06 00:44:10           3.5   12 oz bottle poured into an Imperial pint. "A...
             129     2009-11-22 16:45:58           4.5   11.2 oz bottle poured into a Duvel Tulip. 6.9...
             226     2009-10-21 01:30:40           5.0   12 oz bottle poured into an Imperial Pint. Be...

[5 rows x 10 columns]

The syntax is a bit trickier when you want to specify a row Indexer *and* a column Indexer.

In [19]:
reviews.loc[(top_reviewers, 111, :), ['beer_name', 'brewer_name']]

SyntaxError: invalid syntax (<ipython-input-19-891969c14627>, line 1)

In [24]:
reviews.loc[pd.IndexSlice[top_reviewers, 111, :], ['beer_name', 'brewer_id']]

                                                         beer_name  brewer_id
profile_name beer_id time
Mora2000     111     2009-12-28 04:28:00  Samuel Adams Triple Bock         35
drabmuh      111     2010-02-10 01:20:08  Samuel Adams Triple Bock         35
nickd717     111     2009-10-18 23:56:12  Samuel Adams Triple Bock         35

Be careful with duplicates in the indicies.

In [25]:
reviews.index.is_unique

False

In [26]:
dupes = reviews.index.get_duplicates()
dupes

[('david18', 935, Timestamp('2010-02-19 22:00:22'))]

In [27]:
reviews.loc[dupes]

                                          abv  brewer_id  \
profile_name beer_id time
david18      935     2010-02-19 22:00:22  4.8        360
                     2010-02-19 22:00:22  4.8        360

                                                         beer_name  \
profile_name beer_id time
david18      935     2010-02-19 22:00:22  Warsteiner Premium Verum
                     2010-02-19 22:00:22  Warsteiner Premium Verum

                                               beer_style  review_appearance  \
profile_name beer_id time
david18      935     2010-02-19 22:00:22  German Pilsener                3.5
                     2010-02-19 22:00:22  German Pilsener                3.5

                                          review_aroma  review_overall  \
profile_name beer_id time
david18      935     2010-02-19 22:00:22           3.5               4
                     2010-02-19 22:00:22           3.5               3

                                          review_palate  review_taste  \
profile_name beer_id time
david18      935     2010-02-19 22:00:22              4           3.5
                     2010-02-19 22:00:22              3           3.0

                                                                                       text
profile_name beer_id time
david18      935     2010-02-19 22:00:22   This was my previous review of the bottle ver...
                     2010-02-19 22:00:22   Had this at a german bar in Key West with my ...

In [28]:
reviews[reviews.index.duplicated()]

,,,abv,brewer_id,beer_name,beer_style,review_appearance,review_aroma,review_overall,review_palate,review_taste,text
profile_name,beer_id,time,,,,,,,,,,
david18,935,2010-02-19 22:00:22,4.8,360,Warsteiner Premium Verum,German Pilsener,3.5,3.5,3,3,3,Had this at a german bar in Key West with my ...

In [29]:
reviews = reviews[~reviews.index.duplicated()]
reviews.index.is_unique

True

### Exercise: Select the Top Beers

Use `.loc` to select the `beer_name` and `beer_style` for the 10 most popular beers, as measure by number of reviews.

- Hint: Need the value_counts for the `beer_id` level (we did that [earlier](#get_level_values))

In [ ]:
# %load -r 24:27 solutions_indexing.py
top_beers = reviews.index.get_level_values('beer_id').value_counts().head(10).index
reviews.loc[pd.IndexSlice[:, top_beers], ['beer_name', 'beer_style']]

# Pitfalls


Chained indexing

In [31]:
bad = df.copy()

In [32]:
bad.loc[df.beer_style.str.contains('IPA')]['beer_name'] = 'yummy'

/Users/tom.augspurger/Envs/sea/lib/python3.4/site-packages/IPython/kernel/__main__.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':

In [33]:
bad[df.beer_style.str.contains('IPA')]['beer_name']

3              Unearthly (Imperial India Pale Ale)
8          Northern Hemisphere Harvest Wet Hop Ale
16                 Hoppe (Imperial Extra Pale Ale)
23                            Portsmouth 5 C's IPA
26       Sierra Nevada Anniversary Ale (2007-2009)
                           ...
99988                                       Ranger
99991                                     Mojo IPA
99992      Northern Hemisphere Harvest Wet Hop Ale
99995                                          IPA
99998                Jamaica Sunset India Pale Ale
Name: beer_name, dtype: object

In [34]:
bad.loc[df.beer_style.str.contains('IPA'), 'beer_name']

3              Unearthly (Imperial India Pale Ale)
8          Northern Hemisphere Harvest Wet Hop Ale
16                 Hoppe (Imperial Extra Pale Ale)
23                            Portsmouth 5 C's IPA
26       Sierra Nevada Anniversary Ale (2007-2009)
                           ...
99988                                       Ranger
99991                                     Mojo IPA
99992      Northern Hemisphere Harvest Wet Hop Ale
99995                                          IPA
99998                Jamaica Sunset India Pale Ale
Name: beer_name, dtype: object

In [35]:
bad.loc[df.beer_style.str.contains('IPA'), 'beer_name'] = 'Tasty'
bad.loc[df.beer_style.str.contains('IPA'), 'beer_name']

3        Tasty
8        Tasty
16       Tasty
23       Tasty
26       Tasty
         ...
99988    Tasty
99991    Tasty
99992    Tasty
99995    Tasty
99998    Tasty
Name: beer_name, dtype: object

# Recap

- Boolean masks should always be 1-dimensional and the same length
- sort your `MultiIndexes`
- `isin` + `.any()` or `.all()` for comparing to collections